// Creo que es el mejor lugar
// Tal vez en base a algún artículo encuentran una mejor
// Forma de darle estilo a la fotografía de los granos de café

.coffee {
  position: absolute;
  max-width: 13rem;
  min-height: 25rem;
  object-fit: cover;
  left: -5rem;
  z-index: 1000;
}