// Colos Scheme

// Whites
$primary-white: #fff;
$secondary-white: #eeeded;
$terciary-white-gray: #989797;

// Yellows
$primary-yellow: #eacb31;
$secondary-yellow: #f1dd7b;
$terciary-yellow: #f5e7a1;

// Oranges
$primary-orange: #e4572e;
$secondary-orange: #e87554;
$tercuary-orange: #f2b2a0;

// Greens
$primary-green: #4ca866;
$secondary-green: #9dcfab;
$terciary-green: #bdd7c7;

// Blues
$primary-blue: #3c91e6;
$secondary-blue: #5fa5ea;
$terciary-blue: #82b9ef;

// Blacks
$primary-black: #000;
$secondary-black: #454545;
$terciary-black: #a2a2a2;

// Font families
$roboto: 'Roboto', sans-serif;
$pt-mono: 'PT Mono', monospace;

// Font Sizes
$fs-xxxl: 70px;
$fs-xxl: 40px;
$fs-xl: 30px;
$fs-lg: 18px;
$fs-md: 16px;

// Margin from outer screen
$outer-screen-margin: 5rem;





//font Sizes

